streamlit
python-dotenv
groq
langchain
langchain-community
langchain-huggingface
youtube-transcript-api
sentence-transformers
faiss-cpu
rank-bm25
numpy
scikit-learn
transformers
requests
torch==2.6.0
torchvision==0.21.0
